<div class="container-fluid">

  <h1>Pokémons List</h1>
  <div class=" d-flex justify-content-center">

    <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="load">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">

    <div class="table-responsive" [ngClass]="detail ? 'col-md-6' : 'col-md-12'" *ngIf="!load">
      <div class="card">
        <table class="table table-striped table-hover table-sm ">
          <thead>
            <tr>
              <th></th>
              <th>
                <p>Name</p>
              </th>
              <th [hidden]="detail">
                <p>Weight</p>
              </th>
              <th [hidden]="detail">
                <p>Height</p>
              </th>
              <th>
                <p>Favorite</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poke of pokemons" [ngClass]="{'line-select': poke.id === detail?.id}">
              <td (click)="showDetail(poke)">
                <img [src]="poke.spriteUrl" />
              </td>
              <td (click)="showDetail(poke)">
                <p>{{poke.name}}</p>
              </td>
              <td (click)="showDetail(poke)" [hidden]="detail">
                <p>{{poke.weight}}</p>
              </td>
              <td (click)="showDetail(poke)" [hidden]="detail">
                <p>{{poke.height}}</p>
              </td>
              <td (click)="showDetail(poke)">
                <a (click)="setFavorite(poke)">
                  <fa [name]="'heart'" *ngIf="poke.favorite"></fa>
                  <fa [name]="'heart-o'" *ngIf="!poke.favorite"></fa>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-pagination class="d-flex justify-content-center" [page]="page" (loadList)="loadPokemons()"></app-pagination>
    </div>
    <div class="col-md-6" *ngIf="!load && detail">
      <app-pokemon-detail [pokemon]="detail" (close)="closeDetail()" (favorite)="setFavorite($event)"></app-pokemon-detail>
    </div>
  </div>
</div>
